<nav class="navbar navbar-light bg-primary">
  <div class="container-fluid">
    <h1>Angular CRUD</h1>
    <div class="d-flex">
      <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal">
        Add Employee
      </button>
    </div>
  </div>
</nav>
<table class="table mt-3">
  <thead>
    <tr>
      <th scope="col">Employe Id:</th>
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">Email</th>
      <th scope="col">Ph. no.</th>
      <th scope="col">Salary</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody >
    <tr *ngFor="let employe of employes">
      <td>{{employe.id}}</td>
      <td>{{employe.firstName}}</td>
      <td>{{employe.lastName}}</td>
      <td>{{employe.email}}</td>
      <td>{{employe.mobile}}</td>
      <td>{{employe.salary}}</td>
      <td>
        <button (click)="doEditEmployee(employe)" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#exampleModal">Edit</button>
        <button (click)="doDeleteEmpDetails(employe)" class="btn btn-danger mx-3">Delete</button>
      </td>
    </tr>
  </tbody>
</table>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Eployee Details</h5>
        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="FormValue">
          <div class="form-group">
            <label for="exampleInputEmail1">Frist Name</label>
            <input type="text" formControlName="firstname" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="First Name">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Last Name</label>
            <input type="text"formControlName="lastname"  class="form-control" id="exampleInputLastname" placeholder="Last Name">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Email</label>
            <input type="email" formControlName="email" class="form-control" id="exampleInputEmail" placeholder="Email">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Phone Number</label>
            <input type="text" formControlName="mobile" class="form-control" id="exampleInputPhoneno" placeholder="Phone Number">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Salary</label>
            <input type="text" formControlName="salary" class="form-control" id="exampleInputPassword1" placeholder="Salary">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" id="close" class="btn btn-secondary close" data-bs-dismiss="modal">Close</button>
        <button type="button" *ngIf="ifedit==false" (click)="doPostEmpDetails()" class="btn btn-primary">Add</button>
        <button type="button" *ngIf="ifedit==true" (click)="doUpdateEmployee()" class="btn btn-success">Update</button>
      </div>
    </div>
  </div>
</div>
